.copiable {
    background-image: url("../icons/copiable_icon.svg");
    padding-right: 15px;
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: right;
}

.copiable:hover {
    color: rgb(109, 109, 109);
}

.copiable:active {
    color: rgb(49, 100, 140)
}